<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqSqpGeop7JWuk11UEIeq--w-fJYbvJAI</string>
	<key>GCM_SENDER_ID</key>
	<string>761565960474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fraudternity</string>
	<key>PROJECT_ID</key>
	<string>chalkbets-1bf48</string>
	<key>STORAGE_BUCKET</key>
	<string>chalkbets-1bf48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761565960474:ios:a7cfb3365c7033aa0eb4a3</string>
</dict>
</plist>